body{
	background-color:#333;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	line-height:1.6em;
	margin:0;
}

/* -- Header -- */

#main-header{
	text-align:center;
}

#main-header a{
	color:#fff;
	text-decoration:none;
	font-size:28px;
}

/* -- general classes  -- */

.container{
	width:75%;
	padding: 10px 15px;
	margin:auto;
	overflow:hidden;
	background-color:#444;
}

.section-title{
	text-align:center;
}

.section-divider{
	width:80%;
	border-style:outset;
	border-width: 2px;
}

.fix-me{
	position:fixed;
	top:100px;
}

.card{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 10px 24px 0 rgba(0, 0, 0, 0.35);
}

/* -- Navbar  -- */

#navbar ul{
	padding:0;
	list-style:none;
}

#navbar a{
	background-color:#555;
	color:#fff;
	text-decoration:none;
	font-size:18px;
	padding:1px 15px;
	display:block;
  	transition: 0.2s;
}

#navbar a:hover{
	background-color:#fff;
	color:#555;
}

/* -- Index Showcase -- */

#showcase{

}

/* -- Index Games -- */

#games .game-block{
	float:left;
	width:50%;
	box-sizing:border-box;
}

#games .game-block img{
	max-width:90%;
	margin-left:5%;
	margin-bottom:5%;
	height:auto;
}

/* -- Index People -- */

#people{
	
}

#people .people-block{
	background-color:#555;
	float:left;
	width:30%;
	margin-left:2.5%;
	margin-bottom:2%;
	box-sizing:border-box;
}

#people .people-block img{
	max-width:100%;
	height:auto;
	margin:0px;
}

#people .people-block h4{
	float:left;
	padding-left:4px;
	padding-bottom:4px;
	margin:0px;
}

#people .people-block p{
	float:left;
	padding-left:8px;
	padding-top:1px;
	font-size:12px;
	margin:0px;
}

#people .people-block a{
	color:#fff;
	text-decoration:none;
}

/* -- Footer -- */

#main-footer{
	color:#666;
	font-size:10px;
	padding-left:5px;
}

/* --- Games Page --- */

/* --- People Page --- */

@media(max-width:768px){
	#games .game-block{
		float:none;
		width:100%;
	}

	#people .people-block{
		float:left;
		width:45%;
	}

	#navbar a{
		display:none;
	}
}